

{% set page_title = 'Boilerplate-2020-Gulp-Nunjucks-SCSS' %}
{% set page_h1 = 'About The Agency' %}
{% set page_subtitle = 'Welcome to Lian' %}
{% set page_heading_bg = 'images/page-about-bg.jpg' %}


{% extends "layout/_layout.html" %}
{#% extends "view/layout/_layout.html" %#}
{#% extends "_src/view/layout/_layout.html" %#}

{#% extends "layout/_layout.html" %#}
{#% extends "view/layout/_layout.html" %#}
{#% extends "_src/view/layout/_layout.html" %#}


{% block main %}





    <!-- <section class="section section-team">
        <div class="container">

            <div class="row">
                <div class="mv_12 centered">
                    <h2 class="section__title">Awesome Team</h2>
                    <div class="section__subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</div>
                </div>
            </div>




        </div>
    </section> -->


    <section class="section" id="app">


        <section class="section section-settings">
            <div class="container">

                <div class="row">
                    <div class="mv_12">
                        <h2>Settings</h2>
                    </div>
                </div>

                <div class="row">

                    <div class="mv_12 settings ">

                        <div class="  row">

                            <div class="settings__item-outer mv_12 ds_2">
                                <div class="settings__item">
                                    <div class="settings__item-field">
                                        <label class="settings__item-label">Input normal Label</label>
                                        

                                        <input type="text" class="field-text" v-bind:value="font_base">
                                       
                                    </div>
                                </div>

                            </div>

                            <div class="settings__item-outer mv_12 ds_2">
                                <div class="settings__item">
                                    <div class="settings__item-field">
                                        <label class="settings__item-label">Ratio</label>
                                        <input type="text" class="field-text"  v-bind:value="ratio">
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="_settings row">

                            <div class="settings__item-outer mv_12 ds_2">
                                <div class="settings__item">
                                    <div class="settings__item-field">
                                        <label class="settings__item-label">Font-family</label>
                                        <select name="" class="select">
                                            <option value="Roboto" _disabled="">Roboto</option>
                                            <option value="Open Sans">Open Sans</option>
                                            <option value="Noto Sans JP">Noto Sans JP</option>
                                            <option value="Lato">Lato</option>
                                            <option value="Montserrat">Montserrat</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="settings__item-outer mv_12 ds_2">
                                <div class="settings__item">
                                    <div class="settings__item-field settings__item-field--w--double">
                                        <label class="settings__item-label">Color</label>
                                        <input type="text" class="field-text" value="#323231">
                                    </div>
                                </div>

                            </div>

                            <div class="settings__item-outer mv_12 ds_2">
                                <div class="settings__item-field">
                                    <label class="settings__item-label">Font-weight</label>
                                    <select name="" class="select">
                                        <option value="Roboto" _disabled="">400</option>
                                        <option value="Open Sans">300</option>
                                        <option value="Noto Sans JP">500</option>
                                        <option value="Lato">600</option>
                                        <option value="Montserrat">700</option>
                                    </select>
                                </div>

                            </div>



                        </div>



                    </div>

                </div>

            </div>
        </section>


        <section class="section section-viewer">
            <div class="container">

                <div class="row">
                    <div class="mv_12">
                        <h2>Viewer</h2>
                    </div>
                </div>

                <div class="row">

                    <div class="mv_12">

                        <div class="scale">

                            <div class="scale__item" v-for="font in fonts">

                                <div class="scale__item-name-outer">
                                    <div class="scale__item-name">
                                        <input class="field-text" type="text" value='h1'>
                                    </div>
                                </div>
                                <div class="scale__item-value-outer">
                                    <div class="scale__item-value">{{ font.name }}</div>
                                </div>
                                <div class="scale__item-line-height-outer">
                                    <div class="scale__item-line-height"></div>
                                </div>
                                <div class="scale__item-text-outer">
                                    <div class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной ...</div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </section>


    </section>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <!-- <section class="section section-news">
            <div class="container">

                <div class="news row-flex">
                    News block
                </div>

                {% include "blocks/news/_news.html" %}





            </div>
        </section> -->    


{% endblock %} 
